<div id="book_<%=book.id%>" data-controller="book" data-books-sells="<%= latest_sells(book.id)%>" book-id="<%= book.id %>" class="m-2 bg-white">
    <canvas id="book_chart_<%=book.id%>" style="width:100%;max-width:700px"></canvas>
</div>